body {
  margin: 0px;
  padding: 0px;
}
.announcement-bar {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #ae2021 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;

}

.announcement-item {
  color:black;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 7px;
  padding: 2px;
  font-size: 16px;

}
.announcement-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header_row {
  padding-top: 2px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 3px;
  height:50px;

  
}

.logo img {
  height: 50px;
  object-fit: contain;
  padding-top:45px
}

.nav-links {
  display: flex;
  gap: 3vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

 .items {
  font-family: Poppins, sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.items a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block; 
}

.items a:hover {
  color: #ae2021;
  transform: scale(1.25); 
}


.right-section {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.search-container {
  display: flex;
  align-items: center;
  width: 18vw;
  border: 2px solid #ae2021;
  border-radius: 25px;
  overflow: hidden;
  background-color: white;
}

.search-input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  outline: none;
}

.search-button {
  background: linear-gradient(to top, #ae2021, #f28b4a);
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: poppins, sans-serif;
  border-radius: 20px;
  font-weight: 700;
  width: 100px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}


.register-btn {
  border: 2px solid #ae2021;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 25px;
  font-family: poppins, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.register-btn a{
    color:#ae2021 ;
    text-decoration: none;
    font-weight: 550;}
.login-btn{
  border: none;
  background: linear-gradient(to right, #ae2021, #f28b4a);
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 25px;
  font-family: poppins, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-btn a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.login-btn:hover{
    transform: scale(1.1);
}
.banner{
  background: linear-gradient(to top, #ae2021, #f28b4a);
  height:270px ;
  margin-top: 5px;
}
.banner img {
    width: 270px;
    height: 200px;
    margin-left: 65%;
    margin-top: -175px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.banner img:hover{
  transform: scale(1.05);

}
.text{
  margin-left: 18%;
  width: 500px;
  padding-top: 70px;
}
.text h4{
  color: white;
  font-style: italic;
}
.text h1{
  font-size: 40px;
}

.care-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.care-card {
  display: flex;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  width: 12%;
  border: 2px solid #f28b4a;
  box-shadow: 0 1px 3px #ae2021;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.care-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px #ae2021;
}

.care-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border: 2px solid #f28b4a ;
  border-radius: 10px;
}

.care-card p {

  margin-top: 15px;
  margin-left: 10px;
  
  font-weight: 500;
  color: #333;
}

.featured-section {
  text-align: center;
  padding: 20px 20px;
}

.product-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 90%;
  margin-left: 120px;
  
}

.product-card {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  background: #fff;
  transition: box-shadow 0.3s ease;
  width: 10%;
}

.product-card:hover {
  box-shadow: 0 4px 8px #ae2021 ;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  min-height: 40px;
}

.price {
  margin: 10px 0;
}
.current {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.off {
  color:#ae2021 ;
  font-weight: 500;
  font-size: 13px;
}

button {
  width: 100%;
  background-color: #ae2021;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #f28b4a;
}
.site-footer{
  padding: 44px 20px 60px;
  margin-left: 220px;
}

.footer-inner{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.footer-column{
  flex: 1 1 0;
  min-width: 220px;
}

.footer-heading{
  font-size: 20px;
  font-weight: 700;
  margin: 6px 0 18px;
  color: black;
  display: inline-block;
  padding-bottom: 6px;
  line-height: 1.1;
  letter-spacing: 0.2px;
}
.footer-heading:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list li{
  font-size: 20px;          
  color: black;
  margin: 14px 0;
  line-height: 1.1;
}



.footer-list li:last-child{
  margin-bottom: 0;
}
  .footer-column{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-heading{
    font-size: 18px;
  }
  .footer-list li{
    font-size: 18px;
  }

  .bottom-footer {
  text-align: center;
  padding: 25px 10px 40px;
  background-color: #fff;
}

.footer-links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}

.footer-links span {
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  text-decoration: none;
  color: #aaa;
  font-weight: 300;
}

.footer-copy {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}
.footer-column li:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}


